header{
  background-color: #eaeaea;
}

main{
  height: calc(100% - 60px);
}

img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

li{
  list-style: none;
}

#user{
  border-right: 1px solid #c5b8b8;
}

#current-chat{
  background-image: url(../img/mine.jpg);
  background-size: contain;
}

.container{
  height: 90vh;
}

.bgr-gree{
  height: 20vh;
  background-color: #009688;
}

.bgr-grey{
  height: 80vh;
  background-color: #d7dbd4;
}

.bgr-light-blue{
  background-color: #8edafc;
}

.clicked{
  background-color: #e9ebeb;
}

.sent{
  background-color: #d5f9ba;
}
