body{
  font-family: 'Lato', sans-serif;
}

header{
  background-color: #eaeaea;
  height: 70px;
}

main,
#current-chat{
  height: calc(100% - 70px);
}

img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

li{
  list-style: none;
}

input{
  border: none;
}

#user,
aside{
  border-right: 1px solid #c5b8b8;
}

#app{
  height: 100vh;
  background: linear-gradient(to bottom, #009688 0px, #009688 15vh, #d9dbd4 15vh, #d9dbd4 100%);
}

#recent-chat{
  height: calc(100% - 126px);
  padding: 0;
  overflow-y: auto; 
  overflow-x: hidden; 
}

#historical-chat{
  height: calc(100% - 60px);
  background-image: url(../img/mine.jpg);
  background-size:auto;
}

#writing-chat{
  height: 60px;
  background-color: #f9f9f9;
}

.bell-container{
  width: 60px;
  height: 60px;
  background-color: white;
}

.container{
  height: 95vh;
}

.fa-bell,
.fa-bell-slash{
  color: #8edafc;
}

.search-contact {
  background-color: #f4efef;
}

.text-hour{
  bottom: 0;
  right: 8px;
}

.message-options{
  z-index: 1;
  right: 8px;
}

.bgr-l-grey{
  background-color: #fafafa;
}

.bgr-light-blue{
  background-color: #8edafc;
}

.clicked{
  background-color: #e9ebeb;
}

.sent{
  background-color: #d5f9ba;
}

.clr-grey{
  color: #97999b;
  font-size: .7rem;
}